@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="boot">
    <div class="splash">
        <div class="message">Loading...</div>
        <div class="fa fa-spinner fa-spin"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}
